<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
 <meta charset="utf-8">
<head th:replace="head :: head"></head>

<body>
  <!-- 
    BARRA DE NAVEGACAO 
  -->
  <div th:replace="menu :: menu"></div>
  <!-- 
    CONTEUDO DA PAGINA 
  -->
  <main class="container">
    <div class="bg-light p-5 rounded">
      <h3>TROCA DE SENHA</h3>      
       </div>    

      <form action= "#" th:object="${usuario}" th:action="@{/usuarios/savePass/}" method="POST">
        <input type="hidden"  th:field="${usuario.id}"  th:value="*{id}" />
    <div>
    <h4>Dados:</h4>
            	  <div class="row">
        	         <div class="col-md-2">       			
        				<label class="form-label" for="nome">Old Password</label> 
				          <input type="password" th:field="${usuario.oldPassword}" class="form-control" id="nome" placeholder="Old Password" 
				          required>
				          <span class="error" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">campo invalido</span>
        			</div>
        		
        	         <div class="col-md-2">  
        				<label class="form-label" for="nome">New Password</label> 
				          <input type="password" th:field="${usuario.password}" class="form-control" id="nome" placeholder="New Password" 
				          required>
				          <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">campo invalido</span>
        			</div> 
        			
        			 <div class="col-md-2">  
        				<label class="form-label" for="nome">Confirm Password</label> 
				          <input type="password" th:field="${usuario.confirmPassword}" class="form-control" id="nome" placeholder="New Password" 
				          required>
				          <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">campo invalido</span>
        			</div>     
        			
        			
        <div class="mb-3">        
         <input type="submit" value="Change">
         </div>
         </div>         
        </div>     
           
      </form> 
            
  </main>
  <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>