<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <meta charset="utf-8">
<head th:replace="head :: head"></head>

<body>
  <!-- 
    BARRA DE NAVEGACAO 
  -->
  <div th:replace="menu :: menu"></div>
  
  
  <!-- 
    CONTEUDO DA PAGINA 
  -->
  <main class="container">
    <a class="btn btn-primary active" role="button" th:href="@{/filmes/new}">
    <i class="bi bi-plus-square"></i>
    Filme
    </a>
        
    <div class="bg-light p-5 rounded">
    
    <h3>Gerenciar filmes + séries</h3>
    
    <div class="row">
        <form th:action="@{/filmes/filtra}" method="POST">
        <div class="mb-2">
          <label class="form-label" for="categoria">Filtrar por categoria:</label>
        </div>
        <div class="mb-2"> 
          <select th:object="${cat}" class="form-select" name="cat" required="required">
            <option value="">Select category</option>
            <option th:each="cat: ${categorias}" th:text="${cat.nome}" th:value="${cat.id}" ></option>
          </select>
        </div>
        <div class="mb-4">
          <button class="btn btn-success" type="submit">find</button>
        </div>
        </form>
      </div>
      
      <div class="row">
          
      <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Lançamento</th>
          <th>Nota</th>
          <th>Categoria</th>
          <th>Atores</th>
          <th>#</th>
        </tr>
      </thead>
      
      <tbody>
      <!-- usando o thymeleaf para iterar na lista de filmes -->
        <tr th:each="filme: ${filmeList}"> <!-- filmeList eh mapeado pelo objeto Model -->
          <td th:text="${filme.id}"/>
          <td>
          	<a th:href="@{/filmes/edit/{id}(id=${filme.id})}" th:text="${filme.nome}"></a>
          </td>
          <td th:text="${{filme.lancamento}}"/>
          <td th:text="${{filme.nota}}"/>
          <td>
            <span th:each="cat: ${filme.categorias}" th:text="${cat.nome}" class="categoria"></span>
          </td>
           <td>
           <span name="pessoas" th:field="*{pessoas}" th:each="pessoa: ${filme.pessoas}" th:text="${pessoa.nome}" class="pessoa" ></span>
          </td>
          <td><a th:href="@{/filmes/delete/{id}(id=${filme.id})}">
            <i class="bi bi-dash-circle" title="delete"></i>
          </a></td>
        </tr>
      </tbody>
      </table>
      
      </div>
      
    </div>
  </main>
  <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>










